*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    width: 100vw;
    height: 100vh;
}

:root{
    --banner-text-color: #dc2626;
    --main-primary-color: #00008b;
    --main-font : 'Raleway', sans-serif;
}
body{
    
    /* filter: drop-shadow( 2px 0px 3px rgb(236, 222, 24) ); */
 
     /* background-color:  */
     /* background-color: yellow; */
     width: 100%;
     background-image: url("./component-assets/main-image/bg-13.jpg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
#navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-brand .brand-logo > img{
    width: 16.2rem;
}

.nav-brand{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.8rem;
    flex: 1;
}

.navbar{
    width: 100%;
    margin: 0.7rem;
}
.navs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

}

.navs li{
    padding: 0.7rem;
}


.nav-items a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--banner-text-color);
    font-family: var(--main-font);
    font-weight: 600;
    
}

.nav-items a:hover{
    color: var(--main-primary-color);
    transition: all 0.1s ease-in-out;
}

.banner-bottom{
    width: 100%;

}

.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:center !important;
    padding-right: 4rem;
    
    
}


.tag-line{
    font-size: 2.6rem;
    margin-top: 3.7rem;
    font-weight: 400;
    color:var(--banner-text-color);
    font-family: var(--main-font);
    font-weight: 600;
}
.dummy{
    text-align: right;
    line-height: 3.4rem;
}

.style{
    color: var(--main-primary-color);
    /* text-shadow: 2px 2px 4px rgba(83, 48, 48, 0.76); */
}


.btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:2.8rem  ;
}

.download-btn{
    min-width: 250px;
    text-align: center;
    transition: all 0.1s ease-in-out;

}

.download-btn .download{
    padding: 1.2rem;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-family: var(--main-font);
    font-weight: 600;
    background-color: var(--main-primary-color);
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 3px 1px rgb(189 189 189 / 86%);
    -webkit-box-shadow: 0px 2px 3px 1px rgb(189 189 189 / 86%);
    -moz-box-shadow: 0px 2px 3px 1px rgb(189 189 189 / 86%)

}
.explore-btn{

    min-width: 250px;
    text-align: center;
    color: white;
    transition: all 0.1s ease-in-out;
}
.explore-btn > a{
     padding: 1rem;
     text-decoration: none;
     color: black;
     font-size: 1.6rem;
     border: 3px solid black;
     font-family: var(--main-font);
     font-weight: 600;
}

.explore-btn .right-arrow{
    padding-left: 0.6rem;
    border: none !important;
}

.explore-btn :hover{
    border-color:  var(--main-primary-color) !important;
    color: var(--main-primary-color);
}

.explore-btn :hover  a{
    color: var(--main-primary-color) !important;
}

.explore-btn :hover .right-arrow{
    color: var(--main-primary-color);
}






