@media all and (max-width:820px){
    .avtar{
        width: 100px;
        height: 100px;
    }
}

@media all and (max-width:620px){
    .badge{
        flex-direction: column;
        justify-content: space-between;
    }
    .badge .badge-1,.badge-2,.badge-3,.badge-4,.badge-5{
        margin: 0.8rem;   
    }
}