*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --banner-text-color: #dc2626;
    --main-primary-color: #00008b;
    --main-font : 'Raleway', sans-serif;
    --primary:#1e8be4;
    --secondary:#778899;
    --success:#129212;
    --danger: #ca160d;
    --warning:#FFCC00;
    --info : indigo;
    --light: whitesmoke;
    --dark: #000000;
  
    --primary-hover:#106fbd;
    --secondary-hover:#697683;
    --success-hover:#017201;
    --danger-hover: #b32922;
    --warning-hover:#d6ab00;
    --info-hover : rgb(55, 2, 94);
    --light-hover: rgb(212, 201, 201);
    --dark-hover: #000000;
}



/*                             SIDEBAR                     */

.heading{
    width: 100%;
    padding: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.heading .brand-name img{
    width: 160px;
}

.sideBar{
    width: 22.4rem;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    /* background-color: #fbb034; */
    /* background-color: #E3E3E3; */
    /* background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
    background-image: linear-gradient(to right top, #fadadd, #f6e0ec, #efe7f5, #ebeef9, #ecf3f9);
    display: flex;
    flex-direction: column;
}

.heading .docs-link > a{
     text-decoration: none;
     font-family: var(--main-font);
     font-weight: 600;
     font-size: 0.9rem;
     color: var(--main-primary-color);
}

.sideBar hr{
    width:22.6rem;
    font-weight: 200;
    display: block;
    margin: 0.2rem auto;
    color: var(--main-primary-color);
    height: 0.4px;
    opacity: 0.4;
}

.installation{
   padding: 1.3rem;
}
.installation a{
    text-decoration: none;
    font-size: 1.42rem;
    color: var(--main-primary-color);
    font-family: var(--main-font);
    font-weight: 700;
}
.installation a:hover{
    color: var(--banner-text-color);
}
.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    width: 100%;
    margin: 0rem 0rem 0.2rem 0.4rem;
    flex: 1;
}
.nav-items .buttons,.alerts,.badges,.avtars,.inputs,.modals,.cards{
    padding: 1rem;
    width: 100%;
    cursor: pointer;
}
.nav-items a{
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--main-primary-color);
}

.nav-items .buttons:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}
.nav-items .alerts:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .badges:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .avtars:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .inputs:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .modals:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .cards:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color) !important;

}
.copy{
    position: relative;
    width: 100%;
    margin-top: 0.8;
    margin-bottom: 0px;
    border-top: 0.4px solid  #ad9aa3;
}
.footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 2rem;
}
.designedBy{
    color: var(--banner-text-color);
    line-height: 1.3;   
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 0.8rem; 
    text-align: left;
}
.footer a{
    text-decoration: none;
    color: var(--main-primary-color);
}
 .name{
    color: var(--main-primary-color);
    font-weight: 600;
}
.footer .github a{
    font-size: 1.1rem;
}

.active{
    color: var(--banner-text-color) !important;
}

/*                             CONTENT BOX                    */


.content-box{
    margin-left:22.5rem ;
    background: #FFFAFA;
    height: 100vh;
    padding: 2.5rem;
    font-family: var(--main-font);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

.content-box h1,h2,h3,h4{
   font-family: var(--main-font);
   font-weight: 600;
}


.content-box .main-heading{
    max-width: 100%;
    font-size: 2.5rem;
    color: var(--main-primary-color);

}

.content-box .introduction , .alert-component-container {
    font-size: 1.55rem;
    padding: 1.2rem;
    width: inherit;
}

.content-box .alert-component-container .alert-container{
    padding: 0.9rem;
    margin: 1rem 0rem 1rem 0rem;
    background-color: beige;
    width: 100%;
}

.content-box  .iframe-section{
    padding: 0.9rem 0rem 0.9rem 0rem;
    width: inherit;
}
.content-box  .iframe-section > iframe{
    max-width: 100%;
    overflow-x: auto;
}

.content-box .sub-heading-1,.sub-heading-2,.sub-heading-3,.sub-heading-4{
    max-width: 100%;
    font-size: 2.2rem;
    color: var(--main-primary-color);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.content-box .alert-component-container .alert-container{
    padding: 0.9rem;
    margin: 1rem 0rem 1rem 0rem;
    background-color: transparent;
    border: 1px solid var(--main-primary-color);
    width: 100%;
}

.content-box .introduction-text{
    padding-top:1rem ;
    line-height: 1.3;
    word-spacing: 2.5px;
    font-size: 1.3rem ;
    font-weight: 500;
 }

 .content-box .simple-alert{
     padding: 1.5rem;
     margin: 1.2rem;
     border: 1px solid rgb(20, 19, 19);
     background-color: rgb(226, 223, 223);
     cursor: pointer;
     border-radius: 0.4rem;
 }

 .content-box .alert-component-container .alert{
    cursor: pointer;
    outline:none ;
    border-radius: 0.4rem;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 1rem;
}

 .content-box .alert-component-container .primary-alert{
    background-color: var(--primary);
    color: white;
}
.content-box .alert-component-container .secondary-alert{
    background-color: var(--secondary);
    color: white;
}
.content-box .alert-component-container .success-alert{
    background-color: var(--success);
    color: white;
}
.content-box .alert-component-container .failure-alert{
    background-color:var(--danger);
    color: white;
}
.content-box .alert-component-container .warning-alert{
    background-color: var(--warning);
    color: white;
}
.content-box .alert-component-container .info-alert{
    background-color: var(--info);
    color: white;
}
.content-box .alert-component-container .light-alert{
    background-color: var(--light);
    color: var(--dark);
}
.content-box .alert-component-container .dark-alert{
    background-color: var(--dark);
    color: white;
}


.content-box .alert-component-container .primary-outline-alert{
    color: var(--primary);
    border: 1px solid var(--primary);
}
.content-box .alert-component-container .secondary-outline-alert{
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
.content-box .alert-component-container .success-outline-alert{
    color:var(--success);
    border: 1px solid var(--success);
}
.content-box .alert-component-container .failure-outline-alert{
    color: var(--danger);
    border: 1px solid var(--danger);
}
.content-box .alert-component-container .warning-outline-alert{
    color: var(--warning);
    border: 1px solid var(--warning);
}
.content-box .alert-component-container .info-outline-alert{
    color: var(--info);
    border: 1px solid var(--info);
}
.content-box .alert-component-container .light-outline-alert{
    color: var(--dark);
    border: 1px solid var(--light);
}
.content-box .alert-component-container .dark-outline-alert{
    color: var(--dark);
    border: 1px solid var(--dark);
}





 /*                    NAVIGATE                       */
 .navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem ;
    color: var(--main-primary-color);
}

.navigate a{
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--main-primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.navigate i{
    padding: 0rem 0.2rem 0rem 0.2rem;
}
