*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --banner-text-color: #dc2626;
    --main-primary-color: #00008b;
    --main-font : 'Raleway', sans-serif;
    --primary:#1e8be4;
    --secondary:#778899;
    --success:#129212;
    --danger: #ca160d;
    --warning:#FFCC00;
    --info : indigo;
    --light: whitesmoke;
    --dark: #000000;
  
    --primary-hover:#106fbd;
    --secondary-hover:#697683;
    --success-hover:#017201;
    --danger-hover: #b32922;
    --warning-hover:#d6ab00;
    --info-hover : rgb(55, 2, 94);
    --light-hover: rgb(212, 201, 201);
    --dark-hover: #000000;
}



/*                             SIDEBAR                     */

.heading{
    width: 100%;
    padding: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.heading .brand-name img{
    width: 160px;
}

.sideBar{
    width: 22.4rem;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    /* background-color: #fbb034; */
    /* background-color: #E3E3E3; */
    /* background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%); */
    background-image: linear-gradient(to right top, #fadadd, #f6e0ec, #efe7f5, #ebeef9, #ecf3f9);
    display: flex;
    flex-direction: column;
}

.heading .docs-link > a{
     text-decoration: none;
     font-family: var(--main-font);
     font-weight: 600;
     font-size: 0.9rem;
     color: var(--main-primary-color);
}

.sideBar hr{
    width:22.6rem;
    font-weight: 200;
    display: block;
    margin: 0.2rem auto;
    color: var(--main-primary-color);
    height: 0.4px;
    opacity: 0.4;
}

.installation{
   padding: 1.3rem;
}
.installation a{
    text-decoration: none;
    font-size: 1.42rem;
    color: var(--main-primary-color);
    font-family: var(--main-font);
    font-weight: 700;
}
.installation a:hover{
    color: var(--banner-text-color);
}
.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    width: 100%;
    margin: 0rem 0rem 0.2rem 0.4rem;
    flex: 1;
}
.nav-items .buttons,.alerts,.badges,.avtars,.inputs,.modals,.cards{
    padding: 1rem;
    width: 100%;
    cursor: pointer;
}
.nav-items a{
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--main-primary-color);
}

.nav-items .buttons:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}
.nav-items .alerts:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .badges:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .avtars:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .inputs:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .modals:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .cards:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color) !important;

}
.copy{
    position: relative;
    width: 100%;
    margin-top: 0.8;
    margin-bottom: 0px;
    border-top: 0.4px solid  #ad9aa3;
}
.footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 2rem;
}
.designedBy{
    color: var(--banner-text-color);
    line-height: 1.3;   
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 0.8rem; 
    text-align: left;
}
.footer a{
    text-decoration: none;
    color: var(--main-primary-color);
}
 .name{
    color: var(--main-primary-color);
    font-weight: 600;
}
.footer .github a{
    font-size: 1.1rem;
}

.active{
    background-color: rgb(156 148 148 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color) !important;
}

/*                             CONTENT BOX                    */


.content-box{
    margin-left:22.5rem ;
    background: #FFFAFA;
    height: 100%;
    padding: 2.5rem 2.5rem 0rem 2.5rem;
    font-family: var(--main-font);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

.content-box h1,h2,h3,h4{
   font-family: var(--main-font);
   font-weight: 600;
}


.content-box .main-heading{
    max-width: 100%;
    font-size: 2.5rem;
    color: var(--main-primary-color);

}

.content-box .introduction , .card-component-container {
    font-size: 1.55rem;
    padding: 1.2rem;
    width: inherit;
}

 .card-container{
    padding: 1.3rem;
    margin: 1rem 0rem 1rem 0rem;
    background-color: transparent;
    width: 100%;
    border: 1px solid rgb(20, 19, 19);
    border-radius: 0.4rem;
}

.content-box .introduction-text{
    padding-top:1rem ;
    line-height: 1.3;
    word-spacing: 2.5px;
    font-size: 1.3rem ;
    font-weight: 500;
 }

.content-box  .iframe-section{
    padding: 0.9rem 0rem 0.9rem 0rem;
    width: inherit;
}
.content-box  .iframe-section > iframe{
    max-width: 100%;
    overflow-x: auto;
}


.content-box .sub-heading-1,.sub-heading-2,.sub-heading-3,.sub-heading-4{
    max-width: 100%;
    font-size: 2.2rem;
    color: var(--main-primary-color);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

/*                                  SIMPLE CARD                                  */

.simple-card{
    border: 1px solid var(--main-primary-color);
    padding: 1rem;
}

/*                                  IMAGE CARD                                     */

.image-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    text-align: left;
    border: 1px solid var(--main-primary-color);
}


.image-card img{
    max-width: 100%;
}
.image-card p,h5{
    padding: 0.9rem;
}
h5{
    text-align: left;
}


.social-media-icon .name{
     font-size:1.1rem !important;
     padding-left: 0px;
}

.social-media-icon .avtar{
    width: 70px !important;
    height: 70px !important;
}

.social-media-icon .online-profile{
    width: 15px !important;
    height: 15px !important;
}

.social-media-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.social-image .avtar{
   cursor: pointer;
   color: palevioletred;
}

.social-image .likes-number{
    color: black;
    font-size: 0.8rem;

    padding: 0rem 0.5rem 0rem 0.5rem ;
}

.shopping-card{
    width: 300px;
    position: relative;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:1px solid black;
}

/* .shopping-card .avtar{
   
    width: 290px;
    height: inherit;
    border-radius: 0px;
    padding: 0rem;
} */

.shopping-card .product-name{
    font-size: 1.4rem;
    color: var(--banner-text-color);
    padding-bottom: 0.2rem;
}

.shopping-card .product-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0.2rem 0.9rem 0.2rem 0.9rem;
}
.shopping-card .product-price p{
    padding:0.2rem ;
}

.shopping-card .product-price .discount{
    color: var(--banner-text-color);
}

.original-price{
    text-decoration: line-through;
}
.add-to-cart{
    margin: 0.5rem 1rem;
}

.tag{
    position: absolute;
    border-radius: 0px !important;
    top: -18px;
    left: -14px;
    width: 103px !important;
    height: 96px !important;
    padding: 0.7rem;
}
.wishlist-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1rem;
    cursor: pointer;
}
.simple-btn:hover{
    background-color: #14148d;
}
.wishlist-icon:hover{
color: var(--banner-text-color);
}

/*                                   Shopping Card                                */




 /*                                  NAVIGATE                                     */
 .navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem ;
    color: var(--main-primary-color);
}

.navigate a{
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--main-primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.navigate i{
    padding: 0rem 0.2rem 0rem 0.2rem;
}
