
.active{
    background-color: rgb(156 148 148 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color) !important;
}

/*                             CONTENT BOX                    */



.content-box .introduction , .input-component-container {
    font-size: 1.55rem;
    padding: 1.2rem;
    margin: 0.8rem;
    border-radius: 10px;
    background: #F5F6F7;
    width: inherit;
    box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 46%);
    -webkit-box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 46%);
    -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.46);
}


.content-box  .iframe-section{
    padding: 0.9rem 0rem 0.9rem 0rem;
    width: inherit;
}
.content-box  .iframe-section > iframe{
    max-width: 100%;
    overflow-x: auto;
}

.content-box .sub-heading-1,.sub-heading-2,.sub-heading-3,.sub-heading-4{
    max-width: 100%;
    font-size: 2.2rem;
    color: var(--main-primary-color);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.content-box .input-component-container .input-container{
    padding: 1rem;
    margin: 1rem 0rem 1rem 0rem;
    background-color: #E7E8E8;
    border-radius:8px ;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.46);
   -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.46);
   -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.46);
    width: 100%;
}

.content-box .introduction-text{
    padding-top:1rem ;
    line-height: 1.3;
    word-spacing: 2.5px;
    font-size: 1.3rem ;
    font-weight: 500;
 }

 .input{
    padding: 1.5rem;
    margin: 1.2rem;
     font-family: var(--main-primary-color);
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     background-color: #E7E8E8;
     border-radius:8px ;
     box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.46);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.46);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.46);
 }
 .form-control{
   padding: 1rem;
   margin: 0.3rem;
   min-width: 80px;
   font-size: 1.2rem;
   border-radius: 10px;
   max-width: 100%;
   outline: var(--main-primary-color);
   background-color: #e1f1fd;
   border: none;
}
.sub-heading-3{
    font-size: 1.8rem;
}

/*                                       TYPES OF INPUTS                                     */

 .input-types{
    font-family: var(--main-font);
}
 .input-introduction-text{
    padding: 0.3rem 0.3rem 0.3rem 0.8rem;
    font-size: 1.6rem;
}

/*                                  SEARCH INPUT                   */
 .search-input{
    position: relative;
    max-width: 100%;
}
 .search-input input{
    max-width: 100%;
}
 .search-input .search-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
}

/*                                     EMAIL-INPUT                       */
 .email-input{
    position: relative;
    max-width: 100%;

}
.email-input .form-control{
    text-align: center;
}
 .email-input .email-icon{
     position: absolute;
     top: 8px;
     left: 5px;
    align-self: center;
    padding: 0.7rem;
    font-size: 1.3rem;
    cursor: pointer;
}

/*                                 CHECKBOX-INPUT                            */

.checkbox-1,.checkbox-2,.checkbox-3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-checkbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-checkbox .form-control{
    min-width: 18px;
}

.checkbox-1 label,.checkbox-2 label,.checkbox-3 label{
    padding-left: 0.5rem;
    color: var(--main-primary-color);
}






 /*                    NAVIGATE                       */
 /* .navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem ;
    color: var(--main-primary-color);
}

.navigate a{
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--main-primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.navigate i{
    padding: 0rem 0.2rem 0rem 0.2rem;
} */
