
.active{
    color:var(--banner-text-color) !important;
}

/*                             CONTENT BOX                    */


.content-box .introduction , .installation-guide {
    font-size: 1.55rem;
    padding: 1.2rem;
    margin: 0.8rem;
    border-radius: 10px;
    background: #F5F6F7;
    width: inherit;
    box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 46%);
    -webkit-box-shadow: 0px 1px 5px 2px rgb(0 0 0 / 46%);
    -moz-box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.46);
}
.content-box .introduction-text,.installation-text{
   padding-top:1rem ;
   line-height: 1.3;
   word-spacing: 2.5px;
   font-size: 1.3rem ;
   font-weight: 500;
}

.content-box .introduction-text,.installation-text .download-icon a{
    font-size: 1.2rem;
}

.content-box .installation-guide .iframe-section{
    padding-top: 0.9rem;
    width: inherit;
}
.content-box .installation-guide .iframe-section > iframe{
    max-width: 100%;
    overflow-x: auto;
}

/*                             Navigate                                   */
.navigate{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top:1rem ;
    color: var(--main-primary-color);
}

.navigate a{
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--main-primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.navigate i{
    padding: 0rem 0.2rem 0rem 0.2rem;
}
