*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --background-color:#F8F8FF;
    --banner-text-color: #dc2626;
    --main-primary-color: #00008b;
    --main-font : 'Raleway', sans-serif;
    --primary:#1e8be4;
    --secondary:#778899;
    --success:#129212;
    --danger: #ca160d;
    --warning:#FFCC00;
    --info : indigo;
    --light: whitesmoke;
    --dark: #000000;
  
    --primary-hover:#106fbd;
    --secondary-hover:#697683;
    --success-hover:#017201;
    --danger-hover: #b32922;
    --warning-hover:#d6ab00;
    --info-hover : rgb(55, 2, 94);
    --light-hover: rgb(212, 201, 201);
    --dark-hover: #000000;
}





/*                                 SIDEBAR                                      */
.heading{
    width: 100%;
    padding: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.heading .brand-name img{
    width: 160px;
}

.side-bar{
    width: 20.5rem;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
    background-image: linear-gradient(to right top, #fadadd, #f6e0ec, #efe7f5, #ebeef9, #ecf3f9);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0px 2px 2px rgba(245,246,247,0.47);
    -webkit-box-shadow: 2px 0px 2px 2px rgba(245,246,247,0.47);
    -moz-box-shadow: 2px 0px 2px 2px rgba(245,246,247,0.47);
}

.heading .docs-link > a{
     text-decoration: none;
     font-family: var(--main-font);
     font-weight: 600;
     font-size: 0.9rem;
     color: var(--main-primary-color);
}

.sideBar hr{
    width:22.6rem;
    font-weight: 200;
    display: block;
    margin: 0.2rem auto;
    color: var(--main-primary-color);
    height: 0.4px;
    opacity: 0.4;
}

.installation{
   padding: 1.3rem;
}
.installation a{
    text-decoration: none;
    font-size: 1.42rem;
    color: var(--main-primary-color);
    font-family: var(--main-font);
    font-weight: 700;
}
.installation a:hover{
    color: var(--banner-text-color);
}
.nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    width: 100%;
    margin: 0rem 0rem 0.2rem 0.4rem;
    flex: 1;
}
.nav-items .buttons,.alerts,.badges,.avtars,.inputs,.modals,.cards{
    padding: 1rem;
    width: 100%;
    cursor: pointer;
}
.nav-items a{
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--main-primary-color);
}

.nav-items .buttons:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}
.nav-items .alerts:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .badges:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .avtars:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .inputs:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .modals:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color);
}

.nav-items .cards:hover{
    background-color: rgb(113 54 54 / 15%);
    backdrop-filter: blur(19px) saturate(100%) contrast(45%) brightness(130%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius:1.5rem ;
    color:var(--banner-text-color) !important;

}
.copy{
    position: relative;
    width: 100%;
    margin-top: 0.8;
    margin-bottom: 0px;
    border-top: 0.4px solid  #ad9aa3;
}
.footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.9rem 2rem;
}
.designedBy{
    color: var(--banner-text-color);
    line-height: 1.3;   
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 0.8rem; 
    text-align: left;
}
.footer a{
    text-decoration: none;
    color: var(--main-primary-color);
}
 .name{
    color: var(--main-primary-color);
    font-weight: 600;
}
.footer .github a{
    font-size: 1.1rem;
}

/*                    Main-Content                                 */

.content-box{
    margin-left:20.5rem ;
    background: var(--background-color);
    height: 100%;
    padding: 2.5rem 2.5rem 0rem 2.5rem;
    font-family: var(--main-font);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

.content-box h1,h2,h3,h4{
   font-family: var(--main-font);
   font-weight: 600;
}

.content-box .main-heading{
    max-width: 100%;
    font-size: 2.3rem;
    color: var(--main-primary-color);

}

/*  Navigate  */
.navigate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:1rem ;
    color: var(--main-primary-color);
}

.navigate a{
    text-decoration: none;
    font-family: var(--main-font);
    color: var(--main-primary-color);
    font-weight: 600;
    font-size: 1.1rem;
}

.navigate i{
    padding: 0rem 0.2rem 0rem 0.2rem;
}
